.MuiDateRangePickerDay-root.Mui-selected {
    background-color: #7C4DFF;
    color: white;
  }
  
  .MuiDateRangePickerDay-root:hover {
    background-color: #e0e0e0;
  }
  
  .MuiTypography-root {
    font-weight: bold;
  }
  